* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    text-align: center
}

h2 {
    text-align: center
}

ul {
    text-align: center;
    list-style: none
}

.startButton {
    display: flex; 
    justify-content: center; 
   
  margin-left: auto;
  margin-right: auto; 
}

.submitButton {
  display: flex; 
  margin-left: auto;
  margin-right: auto; 
}

.retake-button {
    display: flex;
  margin-left: auto;
  margin-right: auto; 
}

.nextQuestion {
    display: block;
  margin-left: auto;
  margin-right: auto; 
}

.questionAnswerForm {
    display: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto; 
}

input:checked {
  border: 8px solid #ebca52;
}

input[type=radio] {
  flex: 0 0 auto;
  margin-right: 10px;
}


.hidden {
    display:none;
  }